    body {
      width: 100%;
      height: 100vh;
    }
    
    p, li {
        font-family: 'Muli', sans-serif;
    }

    /* bookmark inputs start */
    .bookmark-main {
      height: auto;
    }
     
    .well {
        padding: 10px 0;
        text-align: center;
    }

    .well .btn {
      margin: 0 0.3em;
    }

    .well .btn:hover {
        opacity: 0.7;
    }

    .well:hover {
        background-color: #E6E6E6;
    }

    .well li {
      list-style: none;
    }

    .well label {
      width: 200px;
    }



    /* input bookmarks end */

    /* Customize bookmark-main */
    @media (min-width: 768px) {
      .bookmark-main {
        max-width: 730px;
        margin: auto;
      }
    }
      .bookmark-main-narrow > hr {
        margin: 30px 0;
      }

      .form-control {
          margin: auto;
          width: 50%;
      }


      /* Main marketing message and sign up button */
      .form-main {
        text-align: center;
        padding: 2em 4em;
      }

      .form-main .btn {
        padding: 14px 24px;
        margin: 0 15px;
        font-size: 21px;
        color: #212529;
      }

      .form-main .btn:hover {
          opacity: 0.5;
      }

      /* Supporting marketing content */
      .marketing {
        height: auto;
        width: 100%;
        margin: 40px 0;
      }

      .marketing p + h4 {
        margin-top: 28px;
      }


    /* Responsive: Portrait tablets and up */
    @media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
      .marketing {
        padding-right: 0;
        padding-left: 0;
      }
      /* Remove the bottom border on the form-main for visual effect */
      .form-main {
        border-bottom: 0;
      }
    }

    @media screen and (max-width: 768px) {
    
      .btn {
        font-size: 0.8rem;

      }
    
    }